<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!-- 页面标签图标 -->
		<link rel="icon" href="img/blog-icon.jpg" type="image/x-icon" />
		<link rel="shortcut icon" href="img/blog-icon.jpg" type="image/x-icon" />
		<!-- CDN css文件 -->
		<!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"> -->
		<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/H-ui.reset.css" />

		<!-- 项目css -->
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/archive.css" />
		<link rel="stylesheet" type="text/css" href="css/anim.css" />
		<title>归档</title>
	</head>
	<body>
		<div class="container-fluid" id="bloger">
			<!-- 顶部导航 -->
			<nav-menu></nav-menu>

			<div class="screen-content">
				<!-- 标题内容 -->
				<div class="blog-title">
					<div class="blog-name">
						<span>归档</span>
						<div class="title-line">

						</div>
					</div>
				</div>
			</div>

			<div class="main-content">
				<div class="blog-activity-container">

					<div class="blog-activity">
						<div class="item-title-box">
							<p class="title">博客动态</p>
							<p class="line"></p>
						</div>

						<div class="activity-items">
							<div class="week-items" v-for="w in weeks">
								<span class="day-item"></span>
								<span class="day-item"></span>
								<span class="day-item"></span>
								<span class="day-item"></span>
								<span class="day-item"></span>
								<span class="day-item"></span>
								<span class="day-item"></span>
							</div>
						</div>

						<div class="activity-color-tip col-lg-12">
							<span>Less</span>
							<span class="color-tip-item" style="background-color: #ebedf0;"></span>
							<span class="color-tip-item" style="background-color: #c6e48b;"></span>
							<span class="color-tip-item" style="background-color: #7bc96f;"></span>
							<span class="color-tip-item" style="background-color: #239a3b;"></span>
							<span class="color-tip-item" style="background-color: #196127;margin-right: 4px;"></span>
							<span>More</span>
						</div>
					</div>
				</div>

				<!-- 归档列表 -->
				<div class="update-content-container">

					<div v-for="g in archiveGroups" class="update-month-item col-lg-5">
						<!-- 月份标题 -->
						<div class="archive-month-tag">
							<span>{{g.dateGroup}}</span>
						</div>

						<span class="tag-header-icon"></span>

						<!-- 每月更新列表 -->
						<div class="update-day-list">

							<div v-for="t in g.articleTitles" @click="gotoArticleDetail(t.articleId)" class="update-day-item">
								<div class="item-left">
									<span>{{t.publishTime}} {{t.articleTitle}}</span>
								</div>
								<div class="item-right">
								</div>
							</div>
						</div>

					</div>



				</div>

			</div>

			<!-- 回顶部按钮 -->
			<back-top></back-top>

			<!--页脚  -->
			<nav-footer></nav-footer>
		</div>
		<!-- CDN js依赖文件 -->
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.22/vue.js"></script>
		<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- 项目js -->
		<script src="layer/layer.js"></script>
		<script src="js/router.js"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="components/nav-menu.js" type="text/javascript" charset="utf-8"></script>
		<script src="components/nav-footer.js" type="text/javascript" charset="utf-8"></script>
		<script src="components/back-top.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="js/archive.js"></script>
	</body>
</html>
