<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!-- CDN css文件 -->
		<!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"> -->
		<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/H-ui.reset.css" />

		<!-- 项目css -->
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/article-list.css" />
		<link rel="stylesheet" type="text/css" href="css/anim.css" />
		<title>文章</title>
	</head>
	<body>
		<div class="container-fluid" id="bloger">
			<!-- 顶部导航 -->
			<nav-menu></nav-menu>

			<div class="screen-content">
				<!-- 标题内容 -->
				<div class="blog-title">
					<div class="blog-name">
						<span>文章</span>
						<div class="title-line">

						</div>
					</div>
				</div>
			</div>

			<div class="main-content">

				<div class="float-article-container">
					<!-- 文章类别选择icon -->
					<div class="type-select-icon" @click="showArticleType()">
						<img src="img/folder.png" title="查看文章列表" />
					</div>
					<!-- 文章类别列表 -->
					<div class="type-list-box" v-bind:class="{'type-list-box-show': showType, 'type-list-box-hide': closeTypeTag == 1}">
						<div v-for="t in typeList" @click="getTitlesForType(t.typeId)" class="type-item">
							<span>&#9672</span>
							<span>{{t.typeName}}</span>
						</div>
					</div>
					<!-- 文章类别title -->
					<div class="type-box col-lg-9">
						<span>#{{currTypeName}}</span>
					</div>
					<!-- 文章列表 -->
					<div class="article-list-box col-lg-9">
						<div v-for="t in titleList" class="article-item" @click="gotoArticle(t.articleId)">
							<span>&#10022&nbsp;</span>
							<span>{{t.articleTitle}}</span>
						</div>
					</div>
					<div class="page-nav col-lg-12 flex-row content-end">
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<li>
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>


			</div>

			<!-- 回顶部按钮 -->
			<back-top></back-top>

			<!--页脚  -->
			<nav-footer></nav-footer>
		</div>
		<!-- CDN js依赖文件 -->
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.22/vue.js"></script>
		<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- 项目js -->
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="components/nav-menu.js" type="text/javascript" charset="utf-8"></script>
		<script src="components/nav-footer.js" type="text/javascript" charset="utf-8"></script>
		<script src="components/back-top.js" type="text/javascript" charset="utf-8"></script>
		
		
		<script src="js/router.js"></script>
		<script src="js/article-list.js"></script>
	</body>
</html>
