<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!-- 页面标签图标 -->
		<link rel="icon" href="img/blog-icon.jpg" type="image/x-icon" />
		<link rel="shortcut icon" href="img/blog-icon.jpg" type="image/x-icon" />
		<!-- CDN css文件 -->
		<!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"> -->
		<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/gooey.min.css" />
		<link rel="stylesheet" type="text/css" href="css/H-ui.reset.css" />

		<!-- 项目css -->
		<link rel="stylesheet" type="text/css" href="css/common.css?v=20200625165900" />
		<link rel="stylesheet" type="text/css" href="css/article-list.css" />
		<link rel="stylesheet" type="text/css" href="css/anim.css" />
		<title>文章 | 浮晓悠羡</title>
	</head>
	<body>
		<div class="container-fluid" id="bloger">
			<!-- 顶部导航 -->
			<nav-menu></nav-menu>
			<!-- 圆形悬浮导航 -->
			<float-nav-menu></float-nav-menu>

			<div class="screen-content">
				<!-- 标题内容 -->
				<div class="blog-title">
					<div class="blog-name">
						<span>文章</span>
						<div class="title-line">

						</div>
					</div>
				</div>
			</div>

			<div class="main-content">

				<!-- 文章类别列表 -->
				<div class="type-list-container col-lg-7 col-sm-11">
					<div class="type-list-box col-lg-5 col-sm-12">
						<div v-for="t in typeList" @click="getTitlesForType(t.typeName, t.typeId)" class="type-item">
							<span>&#9672</span>
							<span>{{t.typeName}}</span>
						</div>
					</div>
				</div>

				<div class="float-article-container col-lg-7 col-sm-11">
					<!-- 文章类别选择icon -->
					<div class="type-select-icon"  @click="getTitlesForType('所有文章', 0)">
						<img src="img/folder.png" />
					</div>

					<!-- 文章类别title -->
					<div class="type-box col-lg-9 col-sm-12">
						<span>#{{currTypeName}}</span>
					</div>
					<!-- 文章列表 -->
					<div class="article-list-box col-lg-9 col-sm-12">
						<div v-for="t in titleList" class="article-item">
							<span>&#10022&nbsp;</span>
							<span @click="gotoArticle(t.articleId)">{{t.articleTitle}}</span>
							<span class="read-count">({{t.readCount}})</span>

						</div>
					</div>
					<div class="page-nav col-lg-12 col-sm-12 flex-row content-end">
						<span @click="prePage()" class="pre-page glyphicon glyphicon-chevron-left"></span>
						<span @click="nextPage()" class="next-page glyphicon glyphicon-chevron-right"></span>
					</div>
				</div>


			</div>

			<!-- 回顶部按钮 -->
			<back-top></back-top>

			<!--页脚  -->
			<nav-footer></nav-footer>
		</div>
		<!-- CDN js依赖文件 -->
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.22/vue.js"></script>
		<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- 项目js -->
		<script src="js/gooey.min.js"></script>
		<script src="layer/layer.js"></script>

		<script type="text/javascript">
			document.write('<script src="js/router.js?timestamp=' + new Date().getTime() +
				'" type="text/javascript" charset="utf-8"><\/script>');
		</script>

		<script src="components/nav-menu.js" type="text/javascript" charset="utf-8"></script>
		<script src="components/nav-footer.js" type="text/javascript" charset="utf-8"></script>
		<script src="components/back-top.js" type="text/javascript" charset="utf-8"></script>
		<script src="components/float-nav-menu.js" type="text/javascript" charset="utf-8"></script>

		<script src="js/article-list.js"></script>
		<script type="text/javascript">
			document.write('<script src="js/common.js?timestamp=' + new Date().getTime() +
				'" type="text/javascript" charset="utf-8"><\/script>');
		</script>
	</body>
</html>
