<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!-- CDN css文件 -->
		<!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"> -->
		<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/H-ui.reset.css" />

		<!-- 项目css -->
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/anim.css" />
		<title>首页</title>
	</head>
	<body>
		<div class="container-fluid" id="bloger">
			<!-- 顶部导航 -->
			<nav-menu></nav-menu>

			<!-- blog标题 -->
			<div class="screen-content">
				<!-- 标题内容 -->
				<div class="blog-title">
					<div class="blog-name">
						<span>浮晓悠羡</span>
						<div class="title-line">

						</div>
					</div>
					<div class="blog-desc">
						<span>绿衣捧砚催题卷，红袖添香伴读书</span>
					</div>
				</div>

				<!-- 博主头像 -->
				<div class="avatar-container">
					<div class="avatar-box flex-center">
						<img src="img/me.jpg">
					</div>
				</div>

				<!-- 搜索框 -->
				<div class="search-container">

					<!-- 搜索框 -->
					<div class="search-content">
						<input type="tel" name="search" id="search" placeholder="search……" class="form-control" />
						<!-- <span class="glyphicon glyphicon-search"></span> -->
					</div>

					<!-- 社交平台icon -->
					<div class="contact-box">
						<div class="contact-item">
							<img src="img/icon_github.png">
						</div>
						<div class="contact-item">
							<img src="img/icon_csdn.png">
						</div>
						<div class="contact-item">
							<img src="img/icon_qq.png">
						</div>
						<div class="contact-item">
							<img src="img/icon_wechat.png">
						</div>
						<div class="contact-item">
							<img src="img/icon_mail.png">
						</div>
					</div>
				</div>
			</div>

			<!-- main content -->
			<div class="main-content">
				<div class="content-left">
					
					<div v-for="a in articles" class="left-item col-lg-11">

						<div class="item-title-box col-lg-6">
							<p class="line"></p>
							<p class="title">{{a.tag == 1 ? '最新文章' : '最热文章'}}</p>
						</div>
						<p class="article-title">{{a.title}}</p>
						<div class="artile-tag">
							<span class="glyphicon glyphicon-user"></span>
							<span class="tag-content">舞零</span>
							<span class="glyphicon glyphicon-calendar"></span>
							<span class="tag-content">{{a.formatTime}}</span>
							<span class="glyphicon glyphicon-eye-open"></span>
							<span class="tag-content">{{a.readCount}}</span>
						</div>
						<p class="article-content">{{a.digest}}</p>
						<div class="btn-more" @click="gotoArticleDetail(a.articleId)">
							查看全文
						</div>
					</div>

				</div>

				<div class="content-right">
					<!-- 关于我 -->
					<div class="right-item col-lg-10">
						<div class="item-title-box col-lg-8">
							<p class="line"></p>
							<p class="title">关于我</p>
						</div>
						<div class="me-qrcode">
							<img src="img/qrcode.jpg">
							<span>关注微信公众号</span>
						</div>
						<p class="aboutme-content">在这安静的黑夜里，我只想做一名极客~</p>
					</div>

					<!-- 最新评论 -->
					<div class="right-item latest-comment col-lg-10">
						<div class="item-title-box col-lg-8">
							<p class="line"></p>
							<p class="title">热度文章</p>
						</div>
						<div class="latest-items">

							<div v-for="t in titles" class="latest-item col-lg-12" @click="gotoArticleDetail(t.articleId)">
								<p>#{{t.articleTitle}}</p>
								<span>{{t.formatTime}}</span>
							</div>
							
						</div>

					</div>

					<!-- 语录摘 -->
					<div class="motto right-item col-lg-10">
						<div class="item-title-box col-lg-8">
							<p class="line"></p>
							<p class="title">语录摘</p>
						</div>
						<div class="motto-content">
							<span>{{diaryContent}}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- 回顶部按钮 -->
			<back-top></back-top>

			<!--页脚  -->
			<nav-footer></nav-footer>
		</div>

		<!-- CDN js依赖文件 -->
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.22/vue.js"></script>

		<!-- 项目js -->
		<script src="layer/layer.js"></script>
		<script src="js/common.js"></script>
		<script src="components/nav-menu.js" type="text/javascript" charset="utf-8"></script>
		<script src="components/nav-footer.js" type="text/javascript" charset="utf-8"></script>
		<script src="components/back-top.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="js/common.js"></script>
		<script src="js/router.js"></script>
		<script src="js/index.js"></script>
	</body>


</html>
