body {
	background-color: #f6f6f6;
}

.screen-content {
	height: 720px;
	width: 100%;
	position: relative;
}

.blog-title {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	/* height: 100%; */
	margin-left: 150px;
	margin-top: 50px;
}

/* 主题内容 */
.main-content {
	width: 100%;
	min-height: 600px;
	padding-top: 70px;
	position: relative;
}

.update-content-container {
	/*position: relative;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	padding-left: 100px;
}

.update-month-item {
	border-left: 1px solid #CCCCCC;
	position: relative;
	margin-bottom: 60px;
	width: 50%;
}

.archive-month-tag {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: -25px;
	/*font-family: JosefinSans;*/
}

.archive-month-tag span {
	font-size: 3.5rem;
	font-weight: bold;
	color: #000000;
	letter-spacing: 2px;
	font-family: myfont2;
}

.tag-header-icon {
	background-color: #c4cfd4;
	width: 34px;
	height: 20px;
	position: absolute;
	top: 80px;
	left: -18px;
	border-radius: 30px;
	color: #FFFFFF;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	font-family: 'cursive';
}

.update-day-list {
	margin-top: 70px;
	margin-left: 45px;
}

.update-day-item {
	width: 100%;
	min-height: 45px;
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}


.update-day-item .item-left {
	height: 100%;
	/*border: 1px solid #d4d3d3;*/
	box-sizing: border-box;
	padding: 10px 18px;
	/*margin-left: 20px;*/

}

.update-day-item .item-left:hover {
	/*border: 1px solid #009ABB;*/
	color: #009ABB;
	cursor: pointer;
}

.title-text {
	color: #666666;
	font-size: 1.4rem;
	font-weight: 500;
	font-family: JosefinSans;
}

.title-text:hover {
	/*font-weight: bold;*/
	color: #82aaff;
}

.title-date {
	font-size: 1rem;
	color: #4facfe;
}

.update-day-item .item-right {
	flex: 1;
}

.update-day-item span {
	letter-spacing: 3px;
}

.blog-activity-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: -500px;
	overflow: hidden;
	box-sizing: border-box;
}

/* 博客活动 */
.blog-activity {
	/*width: 95%;*/
	height: 320px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 10px;
	padding-top: 20px;
	box-sizing: border-box;
}

.blog-activity .item-title-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.blog-activity .item-title-box .title {
	color: #FFFFFF;
	font-size: 1.5rem;
	text-shadow: 1px 1px 1px #000000;
}

.blog-activity .item-title-box .line {
	width: 100px;
	border: 1px dashed #FFFFFF;
	margin-top: 8px;
}

.activity-items {
	margin-top: 18px;
	padding-top: 10px;
	height: 180px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.week-items,
.week-tags {
	height: 150px;
	margin-left: 6px;
	display: inline-flex;
	flex-direction: column;
}

.week-tag {
	font-size: 8px;
	color: #868686;
	margin-top: 3px;
	height: 20px;
	margin-right: 4px;
}

.week-items .day-item {
	width: 1.3rem;
	height: 1.3rem;
	margin-top: 6px;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}

.activity-color-tip {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 30px;
	color: #FFFFFF;
	align-items: center;
}

.color-tip-item {
	width: 15px;
	height: 15px;
	background-color: #ebedf0;
	margin-left: 4px;
}

/******* 移动设备下（包括ipad）个别样式的定义 *******/
@media screen and (max-width: 1080px) {
	.screen-content {
		height: 1000px;
	}

	.blog-activity .item-title-box .title {
		font-size: 3.5rem;
	}

	.blog-activity .item-title-box .line {
		width: 200px;
	}

	.blog-activity {
		width: 95%;
	}

	.blog-activity-container {
		margin-top: -600px;
	}

	.update-content-container {
		margin-top: 250px;
	}

	.activity-color-tip {
		font-size: 2rem;
		padding-right: 0;
	}

	.update-month-item {
		min-width: 100%;
	}

	.week-items .day-item {
		width: 1.1rem;
		height: 1.1rem;
		margin-top: 6px;
		background-color: #ffffff;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
	}

	.color-tip-item {
		width: 12px;
		height: 12px;
		background-color: #ebedf0;
		margin-left: 4px;
	}

	.archive-month-tag span {
		font-size: 5.5rem;
	}

	.tag-header-icon {
		width: 50px;
		height: 30px;
		position: absolute;
		top: 120px;
		left: -20px;
		font-size: 2rem;
	}

	.update-day-list {
		margin-top: 108px;
	}

	.title-date {
		font-size: 2.5rem;
	}

	.title-text {
		font-size: 3rem;
		font-weight: normal;
	}
}