body {
	background-color: #f6f6f6;
}

.screen-content {
	height: 640px;
	width: 100%;
	position: relative;
}

.blog-title {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	/* height: 100%; */
	margin-left: 150px;
	margin-top: 50px;
}

.blog-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.blog-name span {
	font-size: 48px;
	color: #FFFFFF;
	font-weight: 600;
	font-family: simhei;
	text-shadow: 5px 2px 6px #000;
}

.title-line {
	height: 4px;
	background-color: #269ABC;
	width: 80px;
	border-bottom: #009ABB;
	margin-bottom: 16px;
}

/* 主题内容 */
.main-content {
	width: 100%;
	min-height: 600px;
	padding-top: 70px;
	position: relative;
}

.update-content-container {
	/*position: relative;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}

.update-month-item {
	border-left: 1px solid #00313C;
	position: relative;
	margin-bottom: 100px;
	width: 50%;
}

.archive-month-tag {
	display: inline-block;
	margin-left: -180px;
	position: absolute;
	top: 30px;
}

.archive-month-tag span {
	font-size: 20px;
	font-weight: bolder;
	color: #009ABB;
	letter-spacing: 2px;
}

.tag-header-icon {
	background-color: #FFFFFF;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 40px;
	left: -8px;
	border-radius: 50%;
	border: 1px solid #d4d3d3;
}

.update-day-list {
	margin-top: 32px;
}

.update-day-item {
	width: 100%;
	height: 42px;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.update-day-item .item-left {
	height: 100%;
	border: 1px solid #d4d3d3;
	box-sizing: border-box;
	padding: 10px 18px;
	margin-left: 20px;
	color: #666666;
}

.update-day-item .item-left:hover {
	border: 1px solid #009ABB;
	color: #009ABB;
	cursor: pointer;
}

.update-day-item .item-right {
	flex: 1;
}

.update-day-item span {
	letter-spacing: 3px;
}

.blog-activity-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: -500px;
}

/* 博客活动 */
.blog-activity {
	/*width: 80%;*/
	height: 320px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 10px;
	padding-top: 20px;
	box-sizing: border-box;
}

.blog-activity .item-title-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.blog-activity .item-title-box .title {
	color: #FFFFFF;
	font-size: 1.5rem;
	text-shadow: 1px 1px 1px #000000;
}

.blog-activity .item-title-box .line {
	width: 100px;
	border: 1px dashed #FFFFFF;
	margin-top: 8px;
}

.activity-items {
	margin-top: 18px;
	padding-top: 10px;
	height: 180px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.week-items,
.week-tags {
	height: 150px;
	margin-left: 6px;
	display: inline-flex;
	flex-direction: column;
}

.week-tag {
	font-size: 8px;
	color: #868686;
	margin-top: 3px;
	height: 20px;
	margin-right: 4px;
}

.week-items .day-item {
	width: 1.3rem;
	height: 1.3rem;
	margin-top: 6px;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
}

.activity-color-tip {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 30px;
}

.color-tip-item {
	width: 15px;
	height: 15px;
	background-color: #ebedf0;
	margin-left: 4px;
}

/******* 移动设备下（包括ipad）个别样式的定义 *******/
@media screen and (max-width: 1080px) {
	.week-items .day-item {
		width: 1.0rem;
		height: 1.0rem;
		margin-top: 6px;
		background-color: #ffffff;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.2)
	}

	.color-tip-item {
		width: 12px;
		height: 12px;
		background-color: #ebedf0;
		margin-left: 4px;
	}
}