.screen-content {
	height: 640px;
	width: 100%;
	border-bottom: 1px dashed #cccccc;
	background-image: url(../img/article-list.jpg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.blog-title {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	margin-left: 150px;
	padding-bottom: 80px;
}

.blog-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.blog-name span {
	font-size: 48px;
	color: #FFFFFF;
	font-weight: 600;
	font-family: simhei;
	text-shadow: 5px 2px 6px #000;
}

.title-line {
	height: 4px;
	background-color: #269ABC;
	width: 80px;
	border-bottom: #009ABB;
	margin-bottom: 16px;
}

/* 主题内容 */
.main-content {
	width: 100%;
	min-height: 1200px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.float-article-container {
	width: 50%;
	height: 600px;
	background: #FFFFFF;
	opacity: 0.8;
	border: 1px solid #CCCCCC;
	position: absolute;
	top: -150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.type-box {
	height: 60px;
	border-bottom: 1px solid #009ABB;
	padding-top: 10px;
	margin-top: 20px;
}

.type-box span {
	font-size: 1.875rem;
	font-weight: bold;
}

.article-list-box {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.article-item {
	margin-top: 20px;
}

.article-item span:hover {
	color: #009ABB;
	cursor: pointer;
}

.article-item span {
	font-size: 16px;
	letter-spacing: 2px;
	border-bottom: 1px dashed #666666;
}
