.container-fluid {
	padding: 0px;
	margin: 0px;
}

/* 页头 */
.nav-top {}

.none {
	height: 0;
}

.fade-show {
	animation: fade-in 1s ease;
	animation-fill-mode: forwards;
}

.fade-hide {
	animation: fade-out 1s ease;
	animation-fill-mode: forwards;
}

.nav-top-show {
	height: 64px;
	width: 100%;
	background-color: #414141;
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	animation: fade-in 1s ease;
	animation-fill-mode: forwards;
}

.nav-top-hide {
	height: 64px;
	width: 100%;
	background-color: #414141;
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	animation: fade-out 1s ease;
	animation-fill-mode: forwards;
}

/* 导航栏logo */
.logo-img {
	height: 40px;
	margin-left: 200px;
}

/* 导航栏菜单 */
.menu {
	height: 100%;
	display: flex;
	flex-direction: row justify-content: center;
	align-items: center;
}

.menu-item {
	color: #FFFFFF;
	font-size: 15px;
	margin-left: 35px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu-item span.selected {
	height: 2px;
	width: 100%;
	background-color: #FFFFFF;
	margin-top: 4px;
}

.menu-item:hover {
	cursor: pointer;
	font-weight: bold;
	color: #EEA236;
}

.menu-item-line {
	height: 2px;
	background-color: #FFFFFF;
	margin-top: 4px;
}

.menu-item-line-show {
	animation: scale-in 0.2s ease;
	animation-fill-mode: forwards;
}


/* 分割线 */
.partition-line {
	width: 100%;
	height: 1px;
	background-color: #CCCCCC;
	margin-bottom: 50px;
	margin-top: 50px;
}

/* 页脚 */
.nav-footer {
	width: 100%;
	height: 320px;
	background-color: #353f4c;
	margin-top: 50px;
	box-shadow: 0px -2px 5px #000000;
}

.link-container {
	height: 250px;
	border-bottom: 1px solid #4f5c6d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.nav-footer .record-info {
	color: #CCCCCC;
	font-size: 1.3rem;
	padding-top: 20px;
}

.nav-contact-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 220px;
	justify-content: space-around;
	margin-top: 16px;
}

.nav-contact-item {
	width: 36px;
	height: 36px;
	background-color: rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.nav-contact-item:hover {
	background-color: rgba(255,255,255,0.2);
	cursor: pointer;
}

.nav-contact-box img {
	width: 30px;
	height: 30px;
}

.qrcode {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #CCCCCC;
	font-size: 1.5rem;
	letter-spacing: 1px;
}

.qrcode img {
	width: 120px;
	height: 120px;
	margin-bottom: 8px;
}

/* 回顶部按钮 */
.back-top-box {
	/* float: right; */
	position: fixed;
	right: 50px;
	bottom: 60px;
	opacity: 0;
}

.back-top-box:hover {
	cursor: pointer;
}

/* 通用样式 */
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.content-center {
	justify-content: center;
}

.content-start {
	justify-content: flex-start;
}

.content-end {
	justify-content: flex-end;
}

.content-around {
	justify-content: space-around;
}

.content-between {
	justify-content: space-between;
}


.hide {
	opacity: 0;
}

.bottom-enter {
	animation: bottom-in 0.5s ease;
	animation-fill-mode: forwards;
}

.top-leave {
	animation: top-out 0.5s ease;
	animation-fill-mode: forwards;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 36px;
}
